body {
  margin: 0;
  padding: 0;  
  font-family:Helvetica;
  padding-bottom: 500px;
}

h1 {
 color: red;
}

.title {
    color: orange;
    font-size: 60px;
}

.red-title {
    color: brown;
    font-size: 35px;
}