p{
    color:aquamarine;
    background-color: #000;

}

.mycomp-paragraph{
    color: yellow;
    font-size: 20px;
}

.title{
    color: purple;
    font-size: 40px;
}

.redtitle{
    color: red;
    font-size: 25px;
}